<div ng-controller="todayNutritionCtl">
    <!-- Nutrition Chart -->
    <div class="row">
        <div class="col-sm-6">
            <canvas id="today-nutrition-chart" height="200px" width="200px"></canvas>
        </div>
    </div>
</div>
