<div ng-controller="todayCtl">
    <!-- Calorie at a glance -->
    <div class="alert alert-warning" role="alert" ng-if="ui.todayCaloriePercentage > 100">
        <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;カロリーオーバーです。
    </div>
    <div class="row calorie-container">
        <div class="col-sm-6 today-calorie-info-container">
            <div style="text-align:center; margin: 0px auto 0 auto; border-bottom: solid 1px #ddd; margin-bottom: 20px; width:100%;">
                <div class="calorie-percentage-label" style="text-align:center;"><span class="glyphicon glyphicon-fire"></span>&nbsp;カロリー充足率</div>
                <span class="calorie-percentage-value">{{ui.todayCaloriePercentage}}</span><span style="font-size:30pt;">&nbsp;%</span>
            </div>
            <div style="text-align:center;">
                <span ng-if="ui.todayCaloriePercentage < 100" style="font-size: 1.3em;">満タンまであと {{ui.todayCalorieToGo}}kcal</span>
                <span ng-if="ui.todayCaloriePercentage == 100" style="font-size: 1.3em;">ジャストミート</span>
                <span ng-if="ui.todayCaloriePercentage > 100" style="font-size: 1.3em; color:#FF6384;">{{ui.todayCalorieToGo * -1}}kcal 超過しています</span>
            </div>
        </div>
        <div class="col-sm-6 today-calorie-chart-container">
            <canvas id="today-calorie-chart" class="today-calorie-chart" style="margin: 0 auto;" height="200px" width="200px"></canvas>
        </div>
    </div>

    <!-- History -->
    <div>
        <div style="font-size: 2.0em; border-bottom: solid 1px #ddd; padding: 10px 0; margin-bottom: 20px;">今日の食事</div>
        <div class="row">

            <!-- Nutrition Chart -->
            <div class="col-sm-4">
                <div style="margin-bottom:20px;">
                    <canvas id="today-nutrition-chart" height="300"></canvas>
                </div>

                <!-- おすすめの食品 -->
                <div style="margin-bottom: 40px;">
                    <div style="font-weight: bold; border-bottom:solid 1px #ddd; padding: 10px 0; margin-bottom: 10px;">
                        <span class="glyphicon glyphicon-flag"></span>&nbsp;おすすめの食品
                    </div>
                    <div>
                        特にありません。<br/>なぜなら開発中だからです。
                    </div>
                </div>
            </div>

            <!-- Diet List -->
            <div class="col-sm-8">
                <!-- 朝食 -->
                <today-diet-report-by-type diet-type-label="朝食" diet-list="ui.dietListByType.breakfast"></today-diet-report-by-type>

                <!-- 昼食 -->
                <today-diet-report-by-type diet-type-label="昼食" diet-list="ui.dietListByType.lunch"></today-diet-report-by-type>

                <!-- 夕食 -->
                <today-diet-report-by-type diet-type-label="夕食" diet-list="ui.dietListByType.dinner"></today-diet-report-by-type>

            </div>

        </div>
    </div>
</div>

<script type="text/ng-template" id="todayDietReportByType">
    <% include todayDietReportByType %>
</script>
