<!DOCTYPE html>
<html ng-app="dietitianConsole">

<head>
<title>栄養士コンソール</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"></meta>
<meta charset="UTF-8">
<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="javascripts/dietitianConsole/module.js"></script>
<script type="text/javascript" src="javascripts/dietitianConsole/rootCtl.js"></script>
<script>
angular.module("dietitianConsole")
.constant("personList", <%- JSON.stringify(personList) %>);
</script>
</head>

<style>
body {
    font-size: 12pt;
    color: #666;
}
</style>

<body>
    <div class="container" ng-controller="rootCtl" style="margin-top: 20px; margin-bottom: 40px; width: 95%;" ng-cloak="true">
        <div class="row">
            <!-- Navigation -->
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" ng-class="(ui.currentTab == 'person') ? 'active' : ''"><a href="#" ng-click="setCurrentTab($event, 'person')">クライアント</a></li>
                    <li role="presentation" ng-class="(ui.currentTab == 'food') ? 'active' : ''"><a href="#" ng-click="setCurrentTab($event, 'food')">食品リスト</a></li>
                </ul>
            </div>

            <!-- List group -->
            <div class="col-sm-9">

                <!-- List of Users -->
                <div ng-show="ui.currentTab == 'person'" class="media" ng-repeat="person in ui.personList">
                    <div class="media-left">
                        <a href="#">
                            <img class="img-circle media-object" ng-src="{{person.icon_url}}" alt="{{person.lastname}}のアイコン" height="100" width="100">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{person.lastname}} {{person.firstname}}</h3>
                        <button type="button" class="btn btn-primary" ng-click="whatDidYouEat(person.line_id, 'breakfast')">朝食を確認</button>
                        <button type="button" class="btn btn-primary" ng-click="whatDidYouEat(person.line_id, 'lunch')">昼食を確認</button>
                        <button type="button" class="btn btn-primary" ng-click="whatDidYouEat(person.line_id, 'dinner')">夕食を確認</button>
                        <button type="button" class="btn btn-primary" ng-click="askDietType(person.line_id)">どの食事か確認</button>
                    </div>
                </div>

                <!-- List of Unidentified Foods -->
                <div ng-show="ui.currentTab == 'food'">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>食品名</th>
                                <th>発生回数</th>
                                <th>カロリー</th>
                                <th>炭水化物</th>
                                <th>たんぱく質</th>
                                <th>脂肪</th>
                                <th>食物繊維</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="food in ui.unidentifiedFoodList">
                                <td><input type="text" class="form-control" ng-model="food.food_name"></input></td>
                                <td><p class="form-control-static">{{food.times_of_report}}</p></td>
                                <td><input type="number" class="form-control" ng-model="food.calorie"></input></td>
                                <td><input type="number" class="form-control" ng-model="food.carb"></input></td>
                                <td><input type="number" class="form-control" ng-model="food.protein"></input></td>
                                <td><input type="number" class="form-control" ng-model="food.fat"></input></td>
                                <td><input type="number" class="form-control" ng-model="food.fiber"></input></td>
                                <td><button type="button" class="btn btn-sm btn-primary" ng-click="registerFood(food)">登録</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

    </div>
</body>

</html>
