<!DOCTYPE html>
<html ng-app="dietitian">

<head>
<title>私の栄養士</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"></meta>
<meta charset="UTF-8">
<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
<script src="/socket.io/socket.io.js"></script>
<% if (releaseMode == 'production'){ %>
    <script type="text/javascript" src="javascripts/dist/dietitian.min.js"></script>
<% } else { %>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="bower_components/chart.js/dist/Chart.min.js"></script>
    <script type="text/javascript" src="javascripts/dietitian/module.js"></script>
    <script type="text/javascript" src="javascripts/dietitian/rootCtl.js"></script>
    <script type="text/javascript" src="javascripts/dietitian/personCtl.js"></script>
    <script type="text/javascript" src="javascripts/dietitian/todayCalorieCtl.js"></script>
    <script type="text/javascript" src="javascripts/dietitian/todayNutritionCtl.js"></script>
    <script type="text/javascript" src="javascripts/dietitian/todayHistoryCtl.js"></script>
<% } %>
<script>
angular.module("dietitian")
.constant("person", <%- JSON.stringify(person) %>);
</script>
</head>

<style>
@media (max-width: 767px) {
    #today-diet-report {
        display: none;
    }

    .root-container {
         width: 98%;
    }
    .person-icon-container {
        text-align: center;
    }
    .person-icon {
        height: 90px;
    }
    .person-name-container {
        text-align: center;
        margin: 20px 0 20px 0;
    }
    .person-name {
        font-size:24pt;
    }
    .profile-attr-label {
        font-weight:bold;
        border-bottom: solid 1px #ddd;
        padding:10px 0;
        font-size: 0.9em;
    }
    .profile-attr-value {
        padding: 10px 0;
        font-size: 1.0em;
    }
    .calorie-container {
        margin: 0 auto 60px auto;
        width: 100%;
    }
    .today-calorie-info-container {
        display: none;
    }
    .today-calorie-chart-container {
        text-align: center;
    }
    .today-calorie-chart {
        height: 180px;
    }
    .form-person-birthday-for-desktop {
        display: none;
    }
    .form-person-birthday-for-mobile {
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #today-diet-report-mobile {
        display: none;
    }

    #today-calorie-matrix {
        display: none;
    }

    .root-container {
         width: 80%;
    }
    .person-icon {
        height: 150px;
    }
    .person-name {
        font-size:30pt;
    }
    .profile-attr-label {
        font-weight:bold;
        border-bottom: solid 1px #ddd;
        padding:10px 0;
    }
    .profile-attr-value {
        padding: 10px 0;
        font-size: 1.5em;
    }
    .calorie-container {
        margin: 0 auto 60px auto;
        width: 80%;
    }
    .form-person-birthday-for-mobile {
        display: none;
    }
}
@media (min-width: 992px) {
    #today-diet-report-mobile {
        display: none;
    }

    #today-calorie-matrix {
        display: none;
    }

    .root-container {
         width: 80%;
    }
    .person-icon {
        height: 180px;
    }
    .person-name {
        font-size:30pt;
    }
    .profile-attr-label {
        font-weight:bold;
        border-bottom: solid 1px #ddd;
        padding:10px 0;
    }
    .profile-attr-value {
        padding: 10px 0;
        font-size: 1.5em;
    }
    .calorie-container {
        margin: 0 auto 60px auto;
        width: 80%;
    }
    .form-person-birthday-for-mobile {
        display: none;
    }
}
body {
    font-size: 12pt;
    color: #666;
}
body.modal-open {
    position: fixed;
}
.calorie-percentage-label {
    font-size: 1.3em;
}
.calorie-percentage-value {
    font-size: 5.0em;
}
</style>

<body ng-controller="rootCtl">
    <div class="container root-container" style="margin-top: 20px; margin-bottom: 40px;" ng-cloak="true">
        <!-- Person Profile Area -->
        <div ng-controller="personCtl" id="person_profile" style="margin-bottom: 40px;">
            <div class="person-edit-button-container" style="text-align:right;">
                <button class="btn btn-default" type="button" ng-click="openPersonForm(ui.person)" ng-disabled="ui.remoting.isRemoting"><span class="glyphicon glyphicon-pencil"></span>&nbsp;編集</button>
            </div>

            <div class="row">
                <div class="col-sm-3 person-icon-container">
                    <img ng-src="{{ui.person.icon_url}}" class="img-circle person-icon"></img>
                </div>

                <div class="col-sm-9">

                    <div style="margin-bottom:10px;" class="person-name-container">
                        <span class="person-name">{{ui.person.display_name}}</span>
                    </div>

                    <div class="row" style="text-align:center;">
                        <div class="col-xs-3">
                            <div class="profile-attr-label">年齢</div>
                            <div class="profile-attr-value">{{ui.person.age}} 歳</div>
                        </div>
                        <div class="col-xs-3">
                            <div class="profile-attr-label">性別</div>
                            <div class="profile-attr-value">{{getSexLabel(ui.person.sex)}}</div>
                        </div>
                        <div class="col-xs-3">
                            <div class="profile-attr-label">身長</div>
                            <div class="profile-attr-value">{{ui.person.height}} cm</div>
                        </div>
                        <div class="col-xs-3">
                            <div class="profile-attr-label">活動量</div>
                            <div class="profile-attr-value">{{ui.person.activity}}</div>
                        </div>
                    </div>

                </div>

            </div>

            <div ng-show="ui.remoting.isRemoting" style="margin-top: 20px;">
                <div style="text-align:center;color: #999;">
                    {{ui.remoting.status}}
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">{{ui.remoting.status}}</span>
                    </div>
                </div>
            </div>

        </div><!-- Person Profile Area -->


        <!-- Summary Area -->
        <div>
            <div style="font-size: 2.0em; border-bottom: solid 1px #ddd; padding: 10px 0; margin-bottom: 20px;">今日のサマリー</div>

            <!-- Tab Bar -->
            <ul class="nav nav-tabs" ng-init="ui.summaryTab.currentTab = 'calorie'" style="margin-bottom: 10px;">
                <li ng-class="(ui.summaryTab.currentTab == 'calorie') ? 'active' : ''"><a href="#" class="tab_label" ng-click="setCurrentTab($event,'summaryTab','calorie')"><span class="glyphicon glyphicon-fire"></span>&nbsp;カロリー</a></li>
                <li ng-class="(ui.summaryTab.currentTab == 'nutrition') ? 'active' : ''"><a href="#" class="tab_label" ng-click="setCurrentTab($event,'summaryTab','nutrition')"><span class="glyphicon glyphicon-heart"></span>&nbsp;栄養</a></li>
            </ul>

            <!-- Tab Content -->
            <div>
                <!-- カロリータブ -->
                <div id="tab_calorie" ng-show="ui.summaryTab.currentTab == 'calorie'" style="padding:10px 5px;">
                    <% include ./components/tab_todayCalorie %>
                </div>

                <!-- 栄養タブ -->
                <div id="tab_nutrition" ng-show="ui.summaryTab.currentTab == 'nutrition'" style="padding:10px 5px;">
                    <% include ./components/tab_todayNutrition %>
                </div>
            </div>
        </div><!-- Summary Area -->


        <!-- History Area -->
        <div ng-controller="todayHistoryCtl">
            <div style="font-size: 2.0em; border-bottom: solid 1px #ddd; padding: 10px 0; margin-bottom: 20px;">食事履歴</div>

            <!-- モバイル専用の朝食/昼食/夕食の切り替えタブ -->
            <div id="today-diet-report-mobile">
                <ul class="nav nav-tabs" ng-init="ui.dietTab.currentTab = 'breakfast'" style="margin-bottom: 10px;">
                    <li ng-class="(ui.dietTab.currentTab == 'breakfast') ? 'active' : ''"><a href="#" class="tab_label" ng-click="setCurrentTab($event,'dietTab','breakfast')">朝食</a></li>
                    <li ng-class="(ui.dietTab.currentTab == 'lunch') ? 'active' : ''"><a href="#" class="tab_label" ng-click="setCurrentTab($event,'dietTab','lunch')">昼食</a></li>
                    <li ng-class="(ui.dietTab.currentTab == 'dinner') ? 'active' : ''"><a href="#" class="tab_label" ng-click="setCurrentTab($event,'dietTab','dinner')">夕食</a></li>
                </ul>

                <div ng-show="ui.dietTab.currentTab == 'breakfast'">
                    <today-diet-report-by-type-mobile diet-type-label="朝食" diet-list="ui.dietListByType.breakfast"></today-diet-report-by-type>
                </div>

                <div ng-show="ui.dietTab.currentTab == 'lunch'">
                    <today-diet-report-by-type-mobile diet-type-label="昼食" diet-list="ui.dietListByType.lunch"></today-diet-report-by-type>
                </div>

                <div ng-show="ui.dietTab.currentTab == 'dinner'">
                    <today-diet-report-by-type-mobile diet-type-label="夕食" diet-list="ui.dietListByType.dinner"></today-diet-report-by-type>
                </div>
            </div>

            <div id="today-diet-report">
                <!-- 朝食 -->
                <today-diet-report-by-type diet-type-label="朝食" diet-list="ui.dietListByType.breakfast"></today-diet-report-by-type>

                <!-- 昼食 -->
                <today-diet-report-by-type diet-type-label="昼食" diet-list="ui.dietListByType.lunch"></today-diet-report-by-type>

                <!-- 夕食 -->
                <today-diet-report-by-type diet-type-label="夕食" diet-list="ui.dietListByType.dinner"></today-diet-report-by-type>
            </div>
        </div><!-- History Area -->

    </div>

    <script type="text/ng-template" id="personForm">
        <% include ./components/personForm %>
    </script>

    <script type="text/ng-template" id="todayDietReportByType">
        <% include ./components/todayDietReportByType %>
    </script>

    <script type="text/ng-template" id="todayDietReportByTypeMobile">
        <% include ./components/todayDietReportByTypeMobile %>
    </script>

</body>

</html>
