<!DOCTYPE html>
<html>

<head>
<title>専属栄養士</title>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta charset="UTF-8">
<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
</head>


<body>

<style>
body {
    color: #999;
}

.line-login-button {
    background: url("/images/line/btn_login_base.png") no-repeat;
    width: 303px;
    height: 88px;
    margin: 0 auto;
}
.line-login-button a {
    background: url("/images/line/btn_login_base.png") no-repeat;
    width: 303px;
    height: 88px;
    display: block;
    text-indent: -9999px;
}
.line-login-button a:hover {
    background: url("/images/line/btn_login_hover.png") no-repeat;
}
.line-login-button a:active {
    background: url("/images/line/btn_login_press.png") no-repeat;
}

@media (max-width: 767px) {
    .title {
        font-size: 2.5em;
    }
    .tagline {
        font-size: 1.0em;
        width: 90%;
    }
}
@media (min-width: 768px) {
    .title {
         font-size: 3.0em;
    }
    .tagline {
        font-size: 1.3em;
        width: 70%;
    }
}
</style>

<div class="container" style="margin: 20px auto; text-align: center;">
    <div class="title" style="margin-bottom: 10px;">
        専属栄養士
    </div>
    <div class="tagline" style="border-top: solid 1px #999;padding-top:20px; margin:0 auto 20px auto;">
        LINEでログインしてはじめよう。
    </div>
    <div class="line-login-button">
        <!--
        <a href="https://line.me/R/ti/p/%40zny9078n"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a>
        -->
        <a href="/oauth" style="margin:0 auto;">LINEでログイン</a>
    </div>
</div>


</body>

</html>
